<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" contents="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CurateDJ</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="static/css/main.css">
		<link rel="stylesheet" href="static/css/bootstrap-slider.min.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

	  
	  <p>Welcome, {{ username }}</p>
	  <a href="#" onClick="load_artist_list()">Browse</a>
	  <div id="browser">

	  </div>
	  <div id="position">

	  </div>

		<div class="container">
			<div class="row title">
				<div class="col-md-6">
					<h1>CurateDJ</h1>
				</div>
				<div class="col-md-3">
					<h4>
					Progress
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%; min-width: 30%;">
							8:88-8:88
						</div>
					</div>
					</h4>
				</div>
				<div class="col-md-3">
					<h4>
					Volume
						<a><span class="glyphicon glyphicon-volume-off"></span></a>
						<input id="volume" data-slider-id='volumeSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="75" data-slider-tooltip="hide"/>
					</h4>
				</div>
			</div>
			<div class="row hidden-border">
				<div class="col-md-12">
					<h2 style="text-align: left;" >
						{% if song %}
						Currently Playing: <span id='song_title'>{{ song.artist }} - {{ song.title }}, Picked by: {{ picked }}</span>
						{% else %}
						There is nothing playing!
						{% endif %}
					</h2>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-6 text-center hidden-border" >
					<div>
						<h2>Vote!</h2>
					</div>
					<span class="glyphicon glyphicon-arrow-up" style="font-size: 150px; padding-right: 9px;"></span>
					<div>
						<span style="font-size: 100px;">5</span>	
					</div>
					<span class="glyphicon glyphicon-arrow-down" style="font-size: 150px; padding-left: 14px;"></span>

				</div>
				<div class="col-md-6 hidden-border">
					<div>
						<h2>Queue</h2>
					</div>
					<div id="playlist"></div>
				</div>
			</div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="static/js/bootstrap-slider.min.js"></script>

<div style="visibility:hidden">
<!-- BEGINS: AUTO-GENERATED MUSES RADIO PLAYER CODE -->
<script type="text/javascript" src="http://hosted.musesradioplayer.com/mrp.js"></script>
<script type="text/javascript">
MRP.insert({
'url':'http://107.22.37.178:8000/mpd',
'codec':'mp3',
'volume':100,
'autoplay':true,
'buffering':5,
'title':'CurateDJ',
'bgcolor':'#FFFFFF',
'skin':'mcclean',
'width':180,
'height':60
});
</script>
<!-- ENDS: AUTO-GENERATED MUSES RADIO PLAYER CODE -->
</div>

<script type="text/javascript">

  function next() {
    $.get("{{ url_for('next') }}", null);
  }

  function prev() {
    $.get("{{ url_for('prev') }}", null);
  }

  function reload_playlist() {
    var playlist_div = document.getElementById('playlist');
    $.get("/playlist", function(data, status) {
  		playlist_div.innerHTML = data;
    });
  }

  function load_artist_list() {
    var browser_div = document.getElementById('browser');
    $.get("/browse", function(data, status) {
      browser_div.innerHTML = data;
    });
  }

  function load_album_list(artist) {
    var browser_div = document.getElementById('browser');
    uri = encodeURI("/browse/" + artist)
    $.get(uri, function(data,status) {
      browser_div.innerHTML = data;
    });
  }

  function load_song_list(artist, album) {
    var browser_div = document.getElementById('browser');
    uri = encodeURI("/browse/" + artist + "/" + album);
    $.get(uri, function(data,status) {
      browser_div.innerHTML = data;
    });
  }

  function enqueue(path) {
    var u = "{{ username }}";
    var browser_div = document.getElementById('browser');
    uri = encodeURI("/add/" + path)
    $.post(uri,{username:u},null);
    $.get(uri,null);
    browser_div.innerHTML = "";
    reload_playlist();    
  }

  function monitor_now_playing() {
    reload_playlist();
    var song_title_stream = new EventSource('/song_title_stream');
    var song_title = document.getElementById('song_title');
    song_title_stream.onmessage = function(e) {
      if ( !(e.data == "1") ) {
        song_title.innerHTML =  e.data + ", Picked by: {{ picked }}";
        reload_playlist();
      }
    };

    var position_stream = new EventSource('/position_stream');
    var position = document.getElementById('position');
    position_stream.onmessage = function(e) {
      if ( !(e.data == "1") ) {
        position.innerHTML =  e.data;
      }
    }

	$('#volume').slider({
		formater: function(value) {
			return 'Current value: ' + value;
		}
	});
  }


  $(document).ready(monitor_now_playing())
</script>



	</body>
</html>
